{% extends 'todo/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
<div class="row mt-5">
  <div class="col-md-6 left-div">
    <h1>
      Use Your To-Do List to Get Organized
    </h1>
    <p>
      Having a great to-do list app can help you get organized and get more done, whether you want to manage personal tasks or those of a family or small team.
    </p>
    <br>
    <p>
      A <strong>to-do app</strong> is only as useful as the information you put into it, so in addition to picking the right app, you might also want to peruse these tips for creating better to-do lists. If you're looking to share to-dos, you might also want to look at our story on how to make a family to-do list and calendar.
    </p>
    <br>
      <p>
        Many of the other to-do apps on this list are excellent, but their free versions are quite limited compared with the power of their paid versions.
    </p>
    <br>
    </div>
    <div class="col-md-6">
      <img src="{% static 'img/manager.png' %}" width="640" height="440"  alt="">
    </div>
  </div>
</div>

<hr>

<div class="row mt-5">
    <div class="col-md-6 left-div float-left">
      <img src="{% static 'img/Gantt.png' %}" width="640" height="440"  alt="">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4 ">
      <h1>
        Mange your project like pros
      </h1>
      <p>
        The best leaders don’t just rely on their gut, they rely on a clear process and framework to guide them. As a project manager, this mostly comes from your schedule. Breaking tasks down into a realistic timeline and then ensuring you stick to that schedule is at the heart of your job. The better you can become at creating project schedules, the more confident you’ll become in all your other skills.
      </p>
      <br>
      <p>
        Luckily, there is ToDoist available that can help you stay organized and on track
      </p>
      <br>
    </div>
</div>

<hr>

<div class="row mt-5">
    <div class="col-md-6 left-div">
    <h1>
      Task management
    </h1>
    <p>
      How can you prioritize features, assign tasks, negotiate with stakeholders, and shift priorities during a project if you don’t know how to make proper decisions?
    </p>
    <br>
    <p>
      When you’re working with a team, proper task management is the foundation for productive days. Not only does it help everyone on your team stay in-sync, productive, and on schedule. But more importantly, task management lets you see progress. And like Newton’s first law of motion, once your team is moving, it’s easier to keep them going.
    </p>
    <br>
      <p>
        Many of the other to-do apps on this list are excellent, but their free versions are quite limited compared with the power of their paid versions.
    </p>
    <br>
    </div>
    <div class="col-md-6">
      <img src="{% static 'img/decision.png' %}" width="640" height="440"  alt="">
    </div>
  </div>
</div>

<hr>

</div>

<div class="container">
  <div class="row mt-5">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="row  d-flex justify-content-center">
      <h1>What teams are saying</h1>
      </div>
      <div class="row  d-flex justify-content-center">
      <p>20000+ project managers can’t be wrong! <a class="link" href="#">See more ToDoist Reviews</a></p>
      </div>
    </div>
  </div>
    <div class="col-md-3">
  </div>
</div>
{% endblock %}